@font-face {
    font-family: MajorMono;
    src: url(./assets/Major_Mono_Display/Vanadine\ Regular.ttf)
}
html{
    height: 100%;
}
body{
    background-color: black;
    color: greenyellow;
    font-family: MajorMono;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li{
    font-size: 2rem;
    font-weight: 700;
    padding-right: 10rem;
}
nav ul li a{
    text-decoration: none;
    color: greenyellow;
}
#alphabet{
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 30%;
    font-size: 3rem;
    border: 4px solid greenyellow;
    padding: 3%;
    border-radius: 30px;
}
#alphabet li{
        padding: 1.4rem;
}
div p{
    font-size: 2rem;
    font-weight: 700;
}
.translaiton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 15rem;
}
.translaiton textarea{
    width: 30rem;
    height: 20rem;
    font-size: 2rem;
    font-family: MajorMono;
    font-weight: 700;
    background: none;
    color: greenyellow;
    border: 4px solid greenyellow;
    border-radius: 12px;
}
.translaiton div{
    width: 30rem;
    height: 20rem;
    font-size: 2rem;
    font-family: MajorMono;
    font-weight: 700;
    background: none;
    color: greenyellow;
    border: 4px solid greenyellow;
    border-radius: 12px;
}
#easy{
    width: 50rem;
    height: 30rem;
    border: 4px solid greenyellow;
    border-radius: 12px;
}
@keyframes appear{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
#easybox{
    display: none;
}
#easyinput input{
    width: 50rem;
    height: 3rem;
    border-radius: 12px;
    font-size: 3.6rem;
    background: none;
    color: greenyellow;
    border: 4px solid white;
    font-family: MajorMono;
    text-transform: uppercase;
    font-weight: 700;
}
#easy, #medium h1, #hard h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#easy h1, #medium h1, #hard h1{
    font-size: 6rem;
}
#easyinput, #mediuminput, #hardinput{
    position: relative;
    width: 100%;
}
#send-btn{
    position: absolute;
    top: 5%;
    right: 1%;
    font-size: 2.4rem;
    cursor: pointer;
    background: none;
    color: greenyellow;
    border: none;
}   
#send-btn span, #send-btn1 span, #send-btn2 span{
    font-size: 2.4rem;
}
@keyframes wrong {
    0%{
        box-shadow: 0px 0px 35px 0px red;
    }   
    25%{
        box-shadow: 0px 0px 40px 0px red;
    }
    50%{
        box-shadow: 0px 0px 50px 0px red;
    }
    75%{
        box-shadow: 0px 0px 40px 0px red;
    }
    100%{
        box-shadow: 0px 0px 35px 0px red;
    }
}
.red{
    animation: wrong ease-in-out infinite 2s;
    border-radius: 12px;
}
#timebox{
    width: 10rem;
    font-size: 10rem;
}
#time, #time1, #time2{
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    right: 0.4rem;
}
#score, #score1, #score2{
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0.4rem;
}
.pressbuton{
    width: 50.5rem;
    height: 4rem;
    font-size: 3rem;
    font-family: MajorMono;
    font-size: 700;
    color: black;
    background: none;
    background-color: greenyellow;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    margin-top: 3rem;
}
#butoncase{
    display: flex;
    flex-direction: column;
}

.restart{
    position: absolute;
    right: 0px;
    top: 55%;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}
.restart span{
    font-size: 2rem;
    font-weight: 700;
}
.bombaclat{
    position: relative;
}
#scoreboard{
    position: absolute;
    top: 23%;
    right: 5%;
    display: flex;
    flex-direction: column;
}
#scoretext{
    justify-self: center;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
}
#scoreboard ol{
    padding-left: 20%;
}
#scoreboard ol li{
    font-size: 1.5rem;
    font-weight: 700;
}
ol{
    border: 2px solid greenyellow;
    height: 20rem;
    width: 10rem;
}

h1{
    margin-top: 8rem;
    font-size: 4rem;

}